name: smart_gossy_culture_app
description: A Flutter app for cotton farming logs and analytics.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  fl_chart: ^0.66.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/Moisture_level.png
    - assets/Power.png
  
   
    # Add other assets here as needed